
.promotions {
	position: fixed;
	top: 50%;
  	transform: translateY(-50%);
	right: 10px;
	height:75%;
	width:380px;
	background-color: #696664;
	/*background-color: rgba(190, 190, 190, 0.8);*/
	overflow: scroll;
}

.promotion_col {
	float: left;
	margin: 10px;
	color: #ffffff;
}


.promotion {
	/*margin: 10px;*/
	/*background-color: #cfcfcf;*/
	/*border-style: solid;*/
	/*border-width: 2px;*/
	/*border-color: #ff0000;*/
	border: "1px doted #0000FF";
}

.basket_collapsed {
	position: fixed;
  	text-align: center;
  	top: 20px;
	right: 5px;
	width: 200px;
	height: 50px;
	background-color: #292624;
}

.basket_collapsed#img {
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
  	left: 0px;
}

.basket_collapsed#span {
	position: relative;
	top: 0%;
  	transform: translateY(-50%);
  	left: 0px;
	vertical-align: middle;
}

.cart_button {
	width: 130px;
	height: 40px;
}